################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/packages
/.vs
/FBoxDial/bin/Debug
/FBoxDial/obj/Debug
