<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dirkster.TreeLib" version="1.2.0" targetFramework="net48" />
  <package id="FilterDataGrid" version="1.2.3" targetFramework="net48" />
  <package id="MixERP.Net.VCards" version="1.0.7" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NLog" version="4.7.10" targetFramework="net48" />
</packages>